USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_LIETKEKHACHHANGTHEOCHINHANH]    Script Date: 14/05/2024 12:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LIETKEKHACHHANGTHEOCHINHANH]
AS
BEGIN
	SELECT HOTEN = HO + ' ' + TEN, DIACHI, PHAI, CMND, NGAYCAP, SODT
	FROM KhachHang
	ORDER BY TEN, HO
END
